* {
    box-sizing: border-box;
}
.box {
    /*height: 500px;*/
    display: flex;
    flex-wrap: wrap;

}
/*.boxpart {
    /*width: 50%;*/
}
.foto {
    float: left;
}*/
.ingredienten{
    /*float: right;*/
    padding: 50px;
}
.label-titel {
    font-weight: bold;
}
.timing {
    display: inline-block;
    font-weight: 200;
}